@charset "UTF-8";

/* Primary color
color: #008000;
/* Secondary color
color: #000080;
/* Alert color 
color: #fdcf79;
/* Success Color 
color: #07eb01;
/* Warning color 
color: #fe8194;
/* Body Font Color 
color: #000000;
/* Header Font Color 
color: #be7dff;
*/





/*
 * ****** *
 * My CSS *
 * ****** *
 */
 
 
vmas {
	font-size: 116%;
	font-weight: bolder;
	color: green;
}

footer {
	font-size:.75em;
	font-style:italic;
	color: #008000;
	/*color: #005500; */
	text-align:center;
}

/*
 * ************************* *
 * Modified Foundatation CSS *
 * ************************* *
 */


/* change the color of the line */
hr {
  clear: both;
  max-width: 62.5rem;
  height: 0;
  margin: 1.25rem auto;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #008000;
  border-left: 0; }

/* change the color of the drop down menu text */
a {
  line-height: inherit;
  color: #008000;
  text-decoration: none;
  cursor: pointer; }
  a:hover, a:focus {
    color: #006e00; }
  a img {
    border: 0; }

/* change the color of the downward triangle on dropdown menu */
.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  display: block;
  width: 0;
  height: 0;
  border: inset 6px;
  content: '';
  border-bottom-width: 0;
  border-top-style: solid;
  border-color: #ffff80 transparent transparent;
  right: 5px;
  margin-top: -3px; }

/* change spacing between buttons */
.button {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.10rem 1rem 0;
  padding: 0.85em 1em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #008000;
  color: #fefefe; }

/* change background color of menu bar */
   .top-bar,
  .top-bar ul {
    background-color: #f4f4f4; }
 
 /* change BREADCRUMBS */
 .breadcrumbs {
  margin: 0 0 1rem 0;
  list-style: none; }
  .breadcrumbs::before, .breadcrumbs::after {
    display: table;
    content: ' '; }
  .breadcrumbs::after {
    clear: both; }
  .breadcrumbs li {
    float: left;
    font-size: 0.6875rem;
    color: #0a0a0a;
    cursor: default;
    text-transform: uppercase; }
    .breadcrumbs li:not(:last-child)::after {
      position: relative;
      top: 1px;
      margin: 0 0.75rem;
      opacity: 1;
      content: "/";
      color: #cacaca; }
  .breadcrumbs a {
    color: #008000; }
    .breadcrumbs a:hover {
      text-decoration: underline; }
  .breadcrumbs .disabled {
    color: #cacaca;
    cursor: not-allowed; }
 




    