@CHARSET "UTF-8";

/*
body {
/* Primary color
color: #008000;
/* Secondary color
color: #000080;
/* Alert color 
color: #fdcf79;
/* Success Color 
color: #07eb01;
/* Warning color 
color: #fe8194;
/* Body Font Color 
color: #000000;
/* Header Font Color 
color: #be7dff;
}
*/
